---
#
---

$base-font-family: "Comic Sans", "Comic Sans MS", "Comic Neue", TSCu_Comic,
  "Comic Parchment", OpenDyslexic, fantasy, ui-sans-serif, system-ui, sans-serif,
  emoji;
$mono-font-family: ui-monospace, monospace;
@import "{{ site.theme }}";
:root {
  color-scheme: light dark !important;
}
* {
  color: revert !important;
  background-color: revert !important;
  font-size: revert !important;
  overflow-wrap: break-word !important;
  hyphens: auto !important;
  list-style-type: none !important;
}
code,
pre {
  font-family: $mono-font-family;
}
.theboot {
  font-family: $mono-font-family;
}
